<!DOCTYPE html>
<html>
    <head>
        <title>회원가입</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Sign up</h1>
        
        <form method="post" action="/users">
        이메일 <input type="text" name='email'> <button>중복확인</button><br>
        이름 <input type="text" name='name'><br>
        비밀번호 <input type="text"><br>
        비밀번호 확인 <input type="text" name='pw'><br>

        휴대폰번호 <input type="text" name='phone'> <br>
        나이 <input type="text" name='age'><br>
    <button onclick ="location.href='./index.html'">취소</button>
             <input type ="submit" value="회원가입ㄱ"></form>       
        
    </body>
</html>